.reveal table td.highlight {
	color: yellow;
}

.reveal table { 
	display: inline-block;
	border-collapse: collapse;
}
.reveal table th,
.reveal table td { 
	border: 1px solid gray;
	padding: 0.25em;
}
.reveal table.fixedcols th {
	width: 6em;
}
.reveal table.numeric td,
.reveal table td.numeric {
	text-align: right; 
}

.reveal table th {
	background-color: #303030;
	text-color: #cccccc;
}

.reveal section img.warning-micro-opt {
	border: none;
}

html.title-busy-road body {
	background:url("../images/busy_road.jpg");
	background-position:center;
	background-size: 100%;
}

html.grass-scissors body {
	background:url("../images/grass_scissors.jpg");
	background-position:center;
	background-size: 100%;
}

html.volume-11 body {
	background:url("../images/volume_11.jpg");
	background-position:center;
	background-size: contain;
	background-repeat: no-repeat;
}

html.volume-11b body {
	background:url("../images/volume_11b.jpg");
	background-position:center;
	background-size: contain;
	background-repeat: no-repeat;
}

html.htop body {
	background:url("../images/htop.png");
	background-position: center;
	background-size: 100%;
	background-repeat: no-repeat;
}

html.htop2 body {
	background:url("../images/htop2.png");
	background-position: center;
	background-size: 100%;
	background-repeat: no-repeat;
}

html.blue-steel body {
	background:url("../images/blue_steel.jpg");
	background-position: center;
	background-size: 100%;
	background-repeat: no-repeat;
}

html.ping-pong body {
	background:url("../images/kitten-ping-pong.gif");
	background-position: center;
	background-size: 100%;
}

html.who-cares body {
	background:url("../images/who_cares.jpg");
	background-position:center;
	background-size: contain;
	background-repeat: no-repeat;
}

html.cycling body {
	background:url("../images/cycling.jpg");
	background-position:center;
	background-size: 100%;
	background-repeat: no-repeat;
}

html.servers body {
	background:url("../images/servers.jpg");
	background-position:center;
	background-size: 100%;
}

html.mortal-kombat body {
	background:url("../images/mortal_kombat.gif");
	background-position:center;
	background-size: 100%;
}

html.bttf-amp body {
	background:url("../images/bttf_amp.jpg");
	background-position:center;
	background-size: 100%;
	background-repeat: no-repeat;
}

html.switch-off body {
	background:url("../images/switch_off.jpg");
	background-position:center;
	background-size: 100%;
}

html.skel1-graph body {
	background:url("../images/charts/02_py_skel1_graph.png");
	background-position:center;
	background-size: 100%;
	background-repeat: no-repeat;
}

html.py-web-frameworks-graph body {
	background:url("../images/charts/04_py_frameworks_graph.png");
	background-position:center;
	background-size: 100%;
	background-repeat: no-repeat;
}

html.py-async-graph body {
	background:url("../images/charts/05_py_async_graph.png");
	background-position:center;
	background-size: 100%;
	background-repeat: no-repeat;
}

html.non-py-async-graph body {
	background:url("../images/charts/06_non_py_async_graph.png");
	background-position:center;
	background-size: 100%;
	background-repeat: no-repeat;
}

html.all-graphs body {
	background:url("../images/charts/01_all_graphs.png");
	background-position:center;
	background-size: 100%;
	background-repeat: no-repeat;
}

.reveal .frosted {
	padding: 1em;
	-webkit-border-radius: 25px;
	background-color: rgba(0, 0, 0, 0.5);
}

.reveal .dark-frosted {
	padding: 1em;
	-webkit-border-radius: 25px;
	background-color: rgba(0, 0, 0, 0.80);
}

