.reveal table { 
	display: inline-block;
	border-collapse: collapse;
}
.reveal table th,
.reveal table td { 
	border: 1px solid gray;
	padding: 0.25em;
}
.reveal table.numeric td,
.reveal table td.numeric {
	text-align: right; 
}

.reveal table th {
	background-color: #303030;
	text-color: #cccccc;
}

.reveal section img.warning-micro-opt {
	border: none;
}

html.title-busy-road body {
	background:url("../images/busy_road.jpg");
	background-position:center;
	background-size: 100%;
}

html.grass-scissors body {
	background:url("../images/grass_scissors.jpg");
	background-position:center;
	background-size: 100%;
}

html.htop_x2 body {
	background:url("../images/htop_x2.jpg");
	background-position: center;
	background-size: 100%;
}

html.ping-pong body {
	background:url("../images/kitten-ping-pong.gif");
	background-position: center;
	background-size: 100%;
}

html.who-cares body {
	background:url("../images/who_cares.jpg");
	background-position:center;
	background-size: contain;
	background-repeat: no-repeat;
}

html.cycling body {
	background:url("../images/cycling.jpg");
	background-position:center;
	background-size: 100%;
	background-repeat: no-repeat;
}

html.servers body {
	background:url("../images/servers.jpg");
	background-position:center;
	background-size: 100%;
}

html.mortal-kombat body {
	background:url("../images/mortal_kombat.gif");
	background-position:center;
	background-size: 100%;
}

html.bttf-amp body {
	background:url("../images/bttf_amp.jpg");
	background-position:center;
	background-size: 100%;
}

html.switch-off body {
	background:url("../images/switch_off.jpg");
	background-position:center;
	background-size: 100%;
}
.reveal .frosted {
	padding: 1em;
	-webkit-border-radius: 25px;
	background-color: rgba(0, 0, 0, 0.5);
}

.reveal .dark-frosted {
	padding: 1em;
	-webkit-border-radius: 25px;
	background-color: rgba(0, 0, 0, 0.80);
}

