.reveal table { 
	display: inline-block;
	border-collapse: collapse;
}
.reveal table th,
.reveal table td { 
	border: 1px solid gray;
	padding: 0.25em;
}
.reveal table.numeric td,
.reveal table td.numeric {
	text-align: right; 
	/*background-color: red;*/
}

html.warning-micro-opt body {
	background:url("../images/warning_micro_opt.jpg");
	background-position:center;
	background-size: contain;
	background-repeat: no-repeat;
}

html.htop_x2 body {
	background:url("../images/htop_x2.jpg");
	background-position:center;
	background-size: 100%;
}

html.ping-pong body {
	background:url("../images/kitten-ping-pong.gif");
	background-position:center;
	background-size: 100%;
}

.reveal .frosted {
	padding: 1em;
	-webkit-border-radius: 25px;
	background-color: rgba(0, 0, 0, 0.5);
}

